.keys{   
        width: '60%';
        height: '30vh';
        position: 'absolute';
        right: '-20%';
        margin-top:    '10%';
         display: 'flex';
        flex-direction: 'column';
         justify-content: 'space-around'




}